# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so

# Packages #
############
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Logs and databases #
######################
*.log
*.sql
*.sqlite


# Big Files #
#############
snapshot_*
*.hdf5
*.ascii
*.bin
*.cfg
*restart.*

# TexMaker Extras #
###################
*.aux
*.out
*.bak
*.bbl
*.blg
#*.tex

# Backups Internos#
###################
*.f03~
*.f03#
*~

# Salida con Datos #
####################
*.dat

#Imagenes#
##########
#*.png
*.aux
*.aux
*.blg
*.log

*.json
#main.pdf
*Tesis.pdf
/GADGET
/Extras
type.txt
*param.txt
Gadget4*
param.txt-usedvalues
parameters-usedvalues
WorkingData/BigResolution/BiggerRun/**/*.txt
WorkingData/BigResolution/BiggerRun/**/*.sh
WorkingData/BigResolution/BiggerRun/**/*.csv
#/Corridas
/Corridas/CorridasLocales/
/Corridas/BiggerRun
/Corridas/testdata
/Corridas/CorridasServidor/Run1/Imagenes
Corridas/CorridasServidor/Run1/.ipynb_checkpoints
/home/martin/Documentos/Tesis/Corridas/CorridasServidor/Run1/gadget4
/home/martin/Documentos/Tesis/Corridas/CorridasServidor/Run1/gadget2
WorkingData/TestArea/Tesis.code-workspace
WorkingData/FitData.py
WorkingData/FittingExample.py
Papers
WorkingData/StandardResolution
Documento/main.brf